
.button1 {
    -fx-font-family: 'Century Gothic';
    -fx-font-size: 50;
    -fx-min-width: 125;
    -fx-min-height: 125;
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 3;
    -fx-border-radius: 3;
    -fx-background-radius: 0;
    -fx-opacity: 0.9;
    -fx-padding: 10;
     -fx-background-color: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

.button1:hover {
    -fx-opacity: 1.0;
    -fx-background-color: #bdc3c7; /* Gris claro en hover */
     -fx-background-color: linear-gradient(to bottom, #bdc3c7, #a5adbb);
}

#mainpane {
    -fx-background-color: #ffffff; /* Blanco */
    -fx-padding: 20;
    -fx-border-color: #34495e;
    -fx-border-width: 5;
    -fx-border-radius: 10;
}

#pane {
    -fx-background-color: #ffffff; /* Blanco */
    -fx-spacing: 40; /* Aumentar el espacio entre botones */
}

#regresar {
    -fx-font-family: 'Lucida Console';
    -fx-font-size: 14;
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 5; /* Bordes redondos */
}

#regresar:hover {
    -fx-cursor: hand; /* Cambia el cursor al de una mano al pasar el ratón */
}

#regresar:selected {
    -fx-background-color: #666666; /* Gris oscuro al seleccionar */
    -fx-cursor: default; /* Cambia el cursor de nuevo al predeterminado al seleccionar */
}

/* Estilo para el Text dentro del ToggleButton */
#regresar:selected .text {
    -fx-fill: #ffffff; /* Color del texto al seleccionar */
}

#turnoTxt {
    -fx-font-family: 'Lucida Console'; /* Fuente */
    -fx-font-size: 34; /* Tamaño de fuente */
}